.custom-row {
    display: flex;
    
    flex-direction: row;
    
}

.raw {
    max-width: 100%;
}

  .btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 54%;
      
  }